<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccessServlet</servlet-name>
        <servlet-class>AccessDB.AccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessServlet</servlet-name>
        <url-pattern>/AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckDates</servlet-name>
        <servlet-class>AccessDB.CheckDates</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckDates</servlet-name>
        <url-pattern>/CheckDates</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HotelReception</servlet-name>
        <servlet-class>AccessDB.HotelReception</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelReception</servlet-name>
        <url-pattern>/HotelReception</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageBooking</servlet-name>
        <servlet-class>AccessDB.ManageBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageBooking</servlet-name>
        <url-pattern>/ManageBooking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoomStatus</servlet-name>
        <servlet-class>AccessDB.RoomStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomStatus</servlet-name>
        <url-pattern>/RoomStatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PayAndCheckOut</servlet-name>
        <servlet-class>AccessDB.PayAndCheckOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayAndCheckOut</servlet-name>
        <url-pattern>/PayAndCheckOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddExtras</servlet-name>
        <servlet-class>AccessDB.AddExtras</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExtras</servlet-name>
        <url-pattern>/AddExtras</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRooms</servlet-name>
        <servlet-class>AccessDB.AddRooms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRooms</servlet-name>
        <url-pattern>/AddRooms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRooms2</servlet-name>
        <servlet-class>AccessDB.AddRooms2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRooms2</servlet-name>
        <url-pattern>/AddRooms2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowRooms</servlet-name>
        <servlet-class>AccessDB.ShowRooms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowRooms</servlet-name>
        <url-pattern>/ShowRooms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelBooking</servlet-name>
        <servlet-class>AccessDB.CancelBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelBooking</servlet-name>
        <url-pattern>/CancelBooking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelBooking2</servlet-name>
        <servlet-class>AccessDB.CancelBooking2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelBooking2</servlet-name>
        <url-pattern>/CancelBooking2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hkRoomStatus</servlet-name>
        <servlet-class>AccessDB.hkRoomStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hkRoomStatus</servlet-name>
        <url-pattern>/hkRoomStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
