/*Standard aspects of every page*/
/*Banner image CSS*/
.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    float: top;
}

/*Whole body text set, and margin/padding reset*/
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

/*All links throughout body CSS*/
body a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    
}

/*sets all CSS for links once they've been visited*/
a:visited {
    text-decoration: none;
    color: #ebd8bc;
}

/*Removes bulletpoints from ll unordered lists*/
ul {
    list-style: none;

}

/*Header CSS*/
div.Header {
    top: 0;
    text-align: center;
    max-width: 100%;
    width: auto;
}

/*DIV containing logo and header*/
.LogoTitle {
    font-size: 200%;
    position: absolute;
    margin: 0pt auto;
    display: block;
    text-align: center;
    width: 100%;
    top: 20%;
    color: white;   
}

/*Booking tab CSS*/
div.tab {
    overflow: hidden;
    background-color: #f1f1f1; 
    color: black;
}

.BookingMain a, a:visited, a:hover {
    color: black;
}

/*How our text options box will show onscreen*/
#TextOptions {
    position: absolute;
    float: right;
    top: 0;
    padding-top: 1%;
    padding-left: 1%;
    color: white;
    font-size: medium;
}

/*DIV for navigation bar, including UL and OL*/
div.Navigation {
    text-align: center;
}

/*CSS for all UL in navigation DIV*/
div.Navigation ul {
    background-color: #a86763;   
    list-style-type: none;    
    overflow: hidden;   
    margin-left: auto;   
    margin-right: auto;   
    padding: 0;  
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;   
    top: 0;
}

/*CSS for all LI in navigation DIV*/
div.Navigation li { 
    color: #ebd8bc;   
    border-left: solid 2px #ebd8bc;
    font-size: xx-large;
    top: 0;  
    display: inline-block;   
    text-align: center;  
    padding-left: 2%;   
    padding-top: 0;    
    padding-bottom: 0;  
    padding-right: 2%;  
    text-decoration: none;
}

/*CSS for all links in navigation DIV*/
.Navigation a {
    color: #ebd8bc;
    text-decoration: none;
}

/*CSS for all visited links in navigation DIV*/
.Navigation a:visited {
    color: #ebd8bc;
    text-decoration: none;
}

/*Removes border from left of 'home' item in navigation DIV*/
#FarLeft {
    border-left: none;
}

/*CSS for Home*/
div.Main {
    position: relative;
    
    width: 70%;
    height: 1200px;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for Home header*/
div.Main h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for Home text*/
div.Main p {  
    text-align: center;
}



/*DIV for alternative main where main CSS does not work*/
div.AlternativeMain {
    text-align: center;   
    position: relative;
    padding-top: 3%;  
    padding-bottom: 3%;
    position: relative;
    width: 70%;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*Alternative header CSS*/
div.AlternativeMain h2 {  
    font-size: 300%;
    top: 15em;
    text-align: center; 
}

/*CSS for housekeeping page main*/
div.HousekeepingMain {
    text-align: center;   
    position: relative;
    padding-top: 3%;  
    padding-bottom: 3%;
    position: relative;
    width: 70%;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for housekeeping header*/
div.HousekeepingMain h2 {  
    font-size: 300%;
    top: 15em;
    text-align: center; 
}

/*CSS for reception main*/
div.ReceptionMain {
    text-align: center;   
    position: relative;
    padding-top: 3%;  
    padding-bottom: 3%;
    position: relative;
    width: 70%;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for reception header*/
div.ReceptionMain h2 {  
    font-size: 300%;
    top: 15em;
    text-align: center; 
}

/*CSS for Reviews main*/
div.ReviewMain {
    text-align: left;   
    position: relative;
    padding-top: 3%;  
    padding-bottom: 3%;
    width: 70%;
    height: 800px;
    margin-left: 15%;   
    margin-right: 15%;   
}

/*CSS for Reviews main header*/
div.ReviewMain h2 {  
    font-size: 300%;
    top: 15em;
    text-align: center; 
}

/*CSS for Contact Us Main*/
div.ContactUsMain {
    text-align: center;   
    position: relative;
    padding-top: 3%;  
    padding-bottom: 3%;
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for Contact Us main header*/
div.ContactUs h2 {  
    font-size: 300%;
    text-align: center; 
}

/*CSS for AddExtraConfirm*/
div.ExtraMain {
    position: relative;
    width: 70%;
    height: 500px;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for AddExtraConfirm header*/
div.ExtraMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for AddExtraConfirm table elements*/
div.ExtraMain table { 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

/*CSS for AddExtraMain link elements*/
div.ExtraMain a {
    text-decoration: underline;
}

/*CSS for BookingConfirmation*/
div.ConfirmMain {
    position: relative;
    width: 70%;
    height: 65em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for BookingConfirmation header*/
div.ConfirmMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for BookingConfirmation table*/
div.ConfirmMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

/*CSS for strong elements on BookingConfirmation*/
div.ConfirmMain strong {
    text-decoration: underline;
}

/*CSS for BookingForm*/
div.BookingFormMain {
    position: relative;
    width: 70%;
    height: 70em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for BookingFormMain header*/
div.BookingFormMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for BookingFormMain table elements*/
div.BookingFormMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

/*CSS for fieldset on BookingFormMain table*/
div.BookingFormMain fieldset {
    padding: 3%;
}

/*CSS for strong elements on BookingFormMain*/
div.BookingFormMain strong {
    text-decoration: underline;
}

/*CSS for BookingManage*/
div.BookingManageMain {
    position: relative;
    width: 70%;
    height: 60em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for BookingManage header*/
div.BookingManageMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for BookingManage table elements*/
div.BookingManageMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

/*CSS for fieldset element of BookingManage tables*/
div.BookingManageMain fieldset {
    padding: 3%;
}

/*CSS for strong elements on BookingManage*/
div.BookingManageMain strong {
    text-decoration: underline;
}

/*CSS for CheckInOutGuests*/
div.CheckInMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for CheckInOutGuests header*/
div.CheckInMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for CheckInOutGuests table elements*/
div.CheckInMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

/*CSS for strong elements on CheckInOutGuests*/
div.CheckInMain strong {
    text-decoration: underline;
}

/*CSS for ReceptionAddExtras*/
div.AddExtrasMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for ReceptionAddExtras header*/
div.AddExtrasMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for ReceptionAddExtras table elements*/
div.AddExtrasMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

/*CSS for fieldset of ReceptionAddExtras table elements*/
div.AddExtrasMain fieldset {
    padding: 3%;
}

/*CSS for strong elements of ReceptionAddExtras*/
div.AddExtrasMain strong {
    text-decoration: underline;
}

div.ReceptionPortalMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.ReceptionPortalMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

div.ReceptionPortalMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.ReceptionPortalMain a {
    text-decoration: underline;
    color: grey;
    font-size: x-large;
}


div.ReceptionPortalMain input {
    margin: 2%;
}

div.ShowRoomsMain {
    position: relative;
    width: 50%;
    height: 60em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

/*CSS for BookingManage header*/
div.ShowRoomsMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

/*CSS for BookingManage table elements*/
.RoomsForm {
    margin-left: auto;
    width: 60%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.BookingReceiptMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.BookingReceiptMain h2 {
    font-size: 300%;  
    padding-bottom: 1%;
}

div.BookingReceiptMain table { 
    width: 30%;
    display: block;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.BookingReceiptMain a {
    text-decoration: underline;
    color: grey;
    font-size: x-large;
}

div.BookingReceiptMain input {
    margin-top: 2%;
}

div.ReceptionPortalMainText {
    border: 3px #ebd8bc solid;
    text-align: center;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

div.BookingReferenceMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.BookingReferenceMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

div.BookingReferenceMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.BookingReferenceMain strong {
    text-decoration: underline;
}

div.BookingReferenceMain input {
    margin: 2%;
}

div.AddRoomsMain {
    position: relative;
    width: 60%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.AddRoomsMain h2 {
    font-size: 300%;  
    padding-bottom: 1%;
}

div.AddRoomsMain table { 
    width: 30%;
    display: block;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.AddRoomsMain a {
    text-decoration: underline;
    color: grey;
    font-size: x-large;
}

div.AddRoomsMain input {
    margin-top: 2%;
}

#ReceiptTitle {
    text-decoration: underline;
}

div.PayCheckOutMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.PayCheckOutMain h2 {
    font-size: 300%;  
    padding-bottom: 1%;
}

div.PayCheckOutMain table { 
    width: 50%;
    display: block;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.PayCheckOutMain a {
    text-decoration: underline;
    color: grey;
    font-size: x-large;
}

div.PayCheckOutMain input {
    margin-top: 2%;
}

#Return {
    padding: 5%;
}

#Return td {
    padding: 0.5em;
    background-color: grey;
}

div.AddRoomsConfirmMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.AddRoomsConfirmMain h2 {
    font-size: 300%;  
    padding-bottom: 1%;
}

div.AddRoomsConfirmMain table { 
    width: 30%;
    display: block;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.BookingMain {
    position: relative;
    width: 70%;
    height: 300px;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.BookingMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

div.BookingMain p {  
    text-align: center;
}

#book legend {
    margin: 1em;
}

.ReviewPrint {
    border: black 1px solid;
    float: right;
    height: 30%;
    width: 30%;
    padding: 1%;
    margin-right: 10%;
}

#book label {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#Welcome {
    font-size: x-large;
}

.HomepageHeaders {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.HomepageHeaders img {
    width: 16%;
    height: auto;
}

.HomepageBooking {
    float: right;
    width: 30%;
    font-size: x-large;
    margin-right: 5%;
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
}

#book2 fieldset {
    padding-top: 10%;
    padding-bottom: 2%;
    padding-left: 1em;
    
}

#book2 input {
    margin-top: 1em;
    margin-bottom: 1em;
}



#manage legend {
    margin: 1em;
}

#manage label {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.FormInput {
    margin: 1em;
}

div.BookingCancelMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.BookingCancelMain h2 {
    font-size: 300%;  
    padding-bottom: 1%;
}

div.BookingCancelMain table { 
    width: 50%;
    display: block;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.FindUsMain {
    position: relative;
    width: 70%;
    height: 900px;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.FindUsMain h2 {
    font-size: 300%;
    text-align: center;   
}

div.FindUsMain p {  
    text-align: center;
}

#Lost {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 40%;
}

#Lost ul {
    list-style-type: circle;
}

div.Booking { 
    float: right; 
    right: 0;
    padding-top: 10%;   
    padding-left: 5%;  
    padding-right: 5%;  
    padding-bottom: 10%;  
    background-color: yellow;  
    margin-left: 1%; 
    margin-top: 1%;  
    margin-right: 1%;
}



div.Footer {  
    background-color: #666666; 
    width: 100%;
    height: 200px;
    margin: 0;  
    bottom: 0;
    position: relative;
}

div.Footer img { 
    float: left;  
    display: inline-block;
}

div.Footer ul {  
    display: inline-block;
    margin-bottom: 0;  
    text-decoration: none;  
    border-left: 1px; 
    border-left-color: white;
    border-left-style: solid; 
    padding-left: 2em;
    margin-left: 1%;
}

div.Footer a:visited { 
    color: white;  
    text-decoration: none;
}

#FooterLogo {
    height:150px; 
    width: 150px;
    padding: 1%;
}

#FooterEmail {
    color: white;
}

#FooterEmail a {
    color: white;
    text-decoration: underline;
}

#FooterEmail a:visited {
    color: white;
    text-decoration: underline;
}

#FooterCopyright {
    color: white;
    padding-top: 0;
}

#tripAdviser {
    display: inline-block;
    float: right;
    padding: 1%;

}

#SocialMedia { 
    display: block;
    padding-right: 1%;
    padding-top: 1em;
    text-align: right;
    color: white;
    float: right;
}

#SocialMedia img {
    width: 3em;
    height: 3em;
    padding-left: 1em;
}

#Trademark {
    float: bottom; 
    text-align: center;  
    margin: 0; 
    margin-left: auto;  
    margin-right: auto;  
    display: block;
}

#EnquiryForm {
    display: inline-block;
    font-size: x-large;
    float: left;
    width: 35%;
    border-right: grey 1px solid;
    padding-left: 15%;
    text-align: left;
}

#EnquiryForm input {
    margin-bottom: 1em;
}

#EnquiryForm textarea {
    margin-bottom: 1em;
}

#AlternativeContact {
    display: inline-block;
    font-size: large;
    float: right;
    width: 20%;
    text-align: left;
}

#AlternativeContact a {
    color: black;
    text-decoration: underline;
}

#AlternativeContact a:visited {
    color: black;
    text-decoration: underline;
}

#AlternativeContact h3 {
    font-size: 200%;
}

.LocalAttractions {
    display: inline-block;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f2d9d9;
    margin: 2em;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
}

.LocalAttractions h3 {
    font-size: 200%;
}

.LocalAttractions img {
    width: 50%;
    display: block;
    left: 0;
    float: left;
}

.LocalAttractions p {
    display: block;
    width: 45%;
    text-align: right;
    float: right;
    right: 0;
    padding-left: 1em;
    font-size: large;
}

.Facilities {
    display: inline-block;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f2d9d9;
    margin: 2em;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
}

.Facilities h3 {
    font-size: 200%;
}

.Facilities img {
    width: 50%;
    display: block;
    left: 0;
    float: left;
}

.Facilities p {
    display: block;
    width: 45%;
    text-align: right;
    float: right;
    right: 0;
    padding-left: 1em;
    font-size: large;
}



.Rooms {
    display: inline-block;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f2d9d9;
    margin: 2em;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
}

.Rooms h3 {
    font-size: 200%;
}

.Rooms img {
    width: 50%;
    display: block;
    left: 0;
    float: left;
}

.Rooms p {
    display: block;
    width: 45%;
    text-align: right;
    float: right;
    right: 0;
    padding-left: 1em;
    font-size: large;
}

.LocalLinks {
    background-color: grey;
    color: white;
    padding: 1em;
    bottom: 0;
    display: inline-block;
}

.Pricing {
    background-color: grey;
    color: white;
    padding: 2%;
    display: inline-block;
    float: right;
}

div.tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}


.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    animation: fadeEffect 1s;
}

.tabcontent2 {
    padding: 6px 12px;
    animation: fadeEffect 1s;
}

.tabcontent2 legend{
    margin: 1em;
}

.tabcontent2 label {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Picture Slideshow */
.imageSlides {
    padding: 1em;
    margin-left: 5%;
    width: 50%;
    position: relative;
    display: inline-block;
}

.FarLeft a {
    border-left: none;
}

.slide {
    position: absolute;
    max-width: 100%;
    width: auto;
    opacity: 0;
    transition: 1s;
    padding: 1em;
}

/* Preview hover images */


.text {
    position: absolute;
    margin: 0 auto;
    width: 30%;
    top: 20%;
    left: 35%;
    border: solid;
    opacity: 0;       
}

.image {
    position: absolute;
    margin: auto;
    opacity: 1;
    max-height: 100%;
    max-width: 100%;
}

#ReviewForm {
    display: inline-block;
    font-size: x-large;
    float: left;
    width: 35%;
    border-right: grey 1px solid;
    padding-left: 15%;
    text-align: left;
}

#ReviewForm input {
    margin-bottom: 1em;
}

#ReviewForm textarea {
    margin-bottom: 1em;
}

/* Reviews slideshow */
#reviewSlides {
    padding: 1%;
    display: inline-block;
    border: solid 2pt;
    width: 40%;
    height: 30%;
    vertical-align:central ;
    margin-top: 5%;
    float: right;
}

.review {
    position: absolute;
    max-height: 100%;
    opacity: 0;
    transition: 1s;
    padding: 1em;
    text-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* jQuery Datepicker */
.ui-widget-content{
    padding: 1em;
    background: white;
    color: black;
    border: black 2px solid;
}

.ui-widget-content a {
    margin: 0.2em;
    color: black;
    text-align: center;
    border-left: black 1px solid;
    padding-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

#hotelMap {
    display: inline-block;
    width: 50%;
    height: 70%;
    text-align: center;
    margin: 0;
}

div.HousekeepingMain {
    position: relative;
    width: 70%;
    height: 40em;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 3%;   
    padding-bottom: 3%;
}

div.HousekeepingMain h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
}

div.HousekeepingMain table { 
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    padding: 3%;
    border: 3px #ebd8bc solid;
}

div.HousekeepingMain strong {
    text-decoration: underline;
}

div.HousekeepingMain fieldset {
    padding: 3%;
}

