div.tab {
    overflow: hidden;
    background-color: #f1f1f1; 
}

ul {
    list-style: none;
    
}

div.Header {
    background-color: #ccccff;
    top: 0;
    margin: auto;
    text-align: center;
}

div.Navigation {
    background-color: blue;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    text-align: left;
    display: inline-block;
    padding: 0;
    margin: 0;
}

div.Main {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}

div.Footer {
    background-color: #666666;
    padding: 1%;
    bottom: 0;
}

div.tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}


.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}