@media screen and (max-width: 600px) {
    body {
        background-color: white;
    }
    
    div.Main {
    position: relative;
    width: 70%;
    height: 1000px;
    margin-left: 15%;   
    margin-right: 15%;   
    padding-top: 1%;   
    padding-bottom: 3%;
}

div.Main h2 {
    font-size: 300%;
    text-align: center;   
    padding-bottom: 1%;
    padding-top: 0;
}

div.Main p {  
    text-align: center;
}
    
    .LogoTitle {
        width: 100%;
        top: 0;
    }
    
    #MainLogo {
        display: none;
    }
    
    .Header #TextOptions {
        display: none;
    }

    
    .Header h1 {
        font-size: 150%;
    }
    
    .imageSlides {
        display: none;
    }
    
    .Navigation {
        max-width: 100%;
        width: auto;
        padding-bottom: 0;
    }
    
    .Navigation li {
        font-size: x-small;
    }
    
    .Navigation li {
        font-size: x-small;
    }
    
    .AlternativeMain {
        max-width: 100%;
        width: 50%;
    }
    
    .ReviewMain {
        display: block;
        height: 100%;
        margin-bottom: 20%;
    }
    
    #ReviewForm {
        max-height: 100%;
        height: auto;
        background-color: white;
        display: inline-block;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        border: none;
        position: absolute;
    }
    
    #ReviewForm input {
        position: relative;
        display: inline-block;
    }
    
    .ReviewPrint {
        display: none;
    }
    
    .Rooms, .Facilities, .LocalAttractions {
        width: 100%;
        padding: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: #a86763; 
    }
    
    .Rooms, .Facilities, .LocalAttractions img {
        width: 100%;
    }
    
    .Rooms, .Facilities, .LocalAttractions p {
        width: 100%;
    }
    
    .Rooms, .Facilities, .LocalAttractions a {
        margin: 5%;
    }
    
    .BookingMain {
        display: inline-block;
        margin-top: 10%;
        float: bottom;
        margin-bottom: 40%;
    }
    
    .BookingMain form {
        padding-bottom: 2em;
    }
    
    .BookingManageMain {
        height: 120em;
        margin-bottom: 20%;
    }
    
    .HousekeepingMain {
        display: inline-block;
        margin-top: 10%;
        float: bottom;
        margin-bottom: 40%;
    }
    
    .HousekeepingMain form {
        padding-bottom: 2em;
    }
    
    .BookingReceiptMain {
        width: 100%;
    }
    
    #receipt {
        width: 12em;
        height: 9em;
    }
    
    .PayCheckOutMain form {
        margin-top: 1em;
    }
    
    #formDetails {
        width: 14em;
    }
        
    .tab {
        background-color: white;
    }
    
    #book, #manage {
        background-color: white;
        display: inline-block;
    }
    
    #book label {
        display: block;
    }
    
    #manage label {
        display: inline-block;
    }
    
    #book, #manage input {
        display: block;
        margin-left: 2em;
        padding-left: 2em;
        
    }
    
    #book input {
        margin: 1%;
    }
    
    .FindUsMain {
        height: 60em;
        margin-bottom: 125%;
    }
    
    #hotelMap {
        width: 20em;
        height: 30em;
    }
    
    #Lost {
        display: block;
        width: 100%;
    }
    
    .Header img {
        max-width: 100%;
        width: auto;
    }
    
    .ContactUsMain {
        height: 150em;
        margin-bottom: 100%;
        width: 80%;
    }
    
    #AlternativeContact, #EnquiryForm {
        display: block;
        margin: 5%;
        background-color: white;
        width: 100%;
        border: none;
        padding: 10%;
        float: none;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .AlternativeMain {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
    }
    
    .Facilities {
        background-color: #f2d9d9;
        margin-right: 0;
        margin-left: 0;
        padding: 5%;
        margin-bottom: 3em;
    }
    
    .Facilities img, p {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
    
    .Facilities p {
        float: none;
        text-align: left;
        width: 15em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
    }
    
    .Rooms {
        background-color: #f2d9d9;
        margin-right: 0;
        margin-left: 0;
        padding: 5%;
        margin-bottom: 3em;
    }
    
    .Rooms img, p {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
    
    .Rooms p {
        float: none;
        text-align: left;
        width: 15em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
    }
    
    .LocalAttractions {
        background-color: #f2d9d9;
        margin-right: 0;
        margin-left: 0;
        padding: 5%;
        margin-bottom: 3em;
    }
    
    .LocalAttractions img, p {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
    
    .LocalAttractions p {
        float: none;
        text-align: left;
        width: 15em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
    }
    
    #FooterLogo, #SocialMedia, #tripAdviser, #FooterCopyright {
        display: none;
    }
    
    .Footer {
        height: auto;
    }
    
    .ReceptionMain h1 {
        display: block;
    }
    
    .HousekeepingMain h1 {
        display: block;
    }
    
    #roomtype {
        margin-bottom: 1em;
    }
    
    .ui-widget-content{
    padding: 1em;
    background: white;
    color: black;
    border: black 2px solid;
}

.ui-widget-content a {
    margin: 0.2em;
    text-align: center;
    border-left: black 1px solid;
    padding-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

#WideArea {
    width: 15em;
}

}

